.clr{clear: both;}
/*搜索*/
#seetshop{position: absolute;margin-top:-365px; width: 1000px;height: 20px;}
#siftCon { width: 1000px; height: 20px; border-top: 1px solid #ccc;color: #666; text-align: right; padding: 5px 0px; margin-top: -345px; position: absolute; }
#siftCon .secondClass { position: absolute; top: 0px; left: 0px; display: inline-block; width: 750px; height: 55px; text-align: left; }
#siftCon .secondClass .clslist { display: inline-block; text-align: center; margin-right: 5px; }
#siftCon .secondClass .clslist .clsName { height: 20px; padding: 5px 0px; cursor: pointer; display: block; }
#siftCon .secondClass .current { background: url(../img/arrow_top_o.png) no-repeat bottom center; color: #A9C7E1; }
#siftCon .secondClass .clslist .clsAmount { height: 20px; padding-top: 5px; display: block; }

/*导航*/
.osm-bar { margin-top: -345px; margin-left: -20px; width: 1000px; clear: both; float: left; position: relative; font-size: 13px; z-index: 1; } .osm-cls { position: relative; float: left; width: 840px; z-index: 1; }  .osm-price { width: 102px; margin: 10px 0 0; _margin: 11px 0 0; text-align: right; border-bottom: 1px solid #ededed; position: relative; float: right; height: 24px; padding: 20px 18px 5px 0px; position: relative; cursor: pointer; z-index: 1; }  .osm-cls li { float: left; display: block; zoom: 1; position: relative; padding: 6px 20px 5px 0px; height: 25px; border-bottom: 1px solid #ededed; margin: 10px 0px -1px 0px; }  .osm-cls li a.new { background: url(../img/icon.png)no-repeat -173px -584px; text-align: right; }  .osm-cls li a { width: 64px; color: #333; text-align: center; display: block; _display: inline; zoom: 1; margin-top: 1px; height: 24px; _border-bottom: 1px solid #fff; line-height: 24px; vertical-align: middle; }  .osm-price .arrow { display: block; position: absolute; right: 0; top: 20px; width: 12px; height: 20px; zoom: 1; background: url(../img/icon.png)no-repeat -188px -385px; } .osm-bar .osm-price:hover ul{display: block;} .osm-price ul li a:hover {background-color:#333;color: white;} .osm-price ul { display: none; width: 55px; position: absolute; z-index: 100000; right: 0px; top: 36px; border: 1px solid #ededed; background: #fff; } .osm-price ul li a.chk { background: #333; color: #fff; } .osm-price ul li a { display: block; _display: inline; zoom: 1; padding: 0px 10px; width: 75px; height: 39px; color: #666; border-bottom: 1px solid #ededed; line-height: 39px; vertical-align: middle; text-align: left; margin-left: -40px; }
/*导航二级*/
.ctxt-nav {display: none; width: 1000px;z-index: 1000;position: absolute;border: 1px solid;margin-left: -130px;background-color: white;margin-top: 20px;}	
.ctxt-nav li{width: 100px;height: 20px;border-bottom: 1px;}		
.ctxt:hover .ctxt-nav{display: block;}
/*商品内容*/
#main {width: 1000px;margin-left: 13%; padding-top: 110px;clear: both;margin-top: -200px;}
#main .styl_3{height: auto;width: 1000px;}
#main .shopListCon{width: 1000px;float: left; margin: -160px 0px;position: relative;}
#main .shopListCon div.first {margin-left: 10px;}

#main .styl_3 .item {width: 316px;height: 366px;margin: 0px 0px 60px 0px;}
.item {display: block;/* position: absolute; */float: left;z-index: 10;}
.item .imgCon .optCon {width: 100%;height: 30px;position: absolute;top: 6px;right: 3px;}
.item .imgCon img {width: 100%;height: 100%;}
#main .styl_3 .item .imgCon .goodsInfo {width: 316px;height:366px;}

.item .imgCon .goodsInfo {display:none;position: absolute; width: 316px;height:366px;top: 0px;left: 0px;background: url(http://imgs-qn.iliangcang.com/images/default/shadow_blk1.png);z-index: 100;_display: inline;zoom: 1;}
.item .bar .who{white-space: nowrap;text-overflow: ellipsis;width: 216px;overflow: hidden;}
#main .styl_3 .item .imgCon {height: 316px;}

#main .shopListCon .item .imgCon {width: 100%;height: 100%;position: relative;}
.item .imgCon:hover .goodsInfo{display: block;}

.shopListCon .item .bar a {display: block;float: left;height: 40px;zoom: 1;_display: inline;line-height: 40px;vertical-align: middle;font-size: 14px;}
.shopListCon .item .bar .who img {width: 34px;height: 34px;display: inline-block;vertical-align: middle; margin-right: 10px; background-position: -130px -584px;padding: 0px 6px 6px 0px;}
.shopListCon .item .bar .goodsFavCount {float: right; padding-right: 30px;background: url(../img/heart_gray20_18.png) no-repeat right center;}
.shopListCon .item .bar a {display: block;float: left;height: 40px;zoom: 1;_display: inline;line-height: 40px;vertical-align: middle;font-size: 14}
.shopListCon .item .imgCon .goodsInfo .money {color: #0c6eba;font-size: 20px;font-style: italic;margin-top: 14px;}
#main .shopListCon .item .bar {width: 100%;height: 40px;margin-top: 10px;}
.item .imgCon .goodsInfo p {margin: 0px auto;text-align: center;color: #fff;width: 85%; height: 25px;line-height: 20px; vertical-align: middle;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;font-weight: bold;margin-top: 12px;}
.styl_3 .item .imgCon .goodsInfo .tle {margin-top: 80px;}
.item .imgCon .goodsInfo .tle {font-size: 14px;}
.item .imgCon .goodsInfo .desc {font-size: 12px;font-weight: 100;margin-top: 5px;white-space: normal;height: auto;}

