

/*搜索*/
/*商品内容*/
#main {width: 1000px;clear: both; margin-top: -100px; margin-left: 13%;}
#main .styl_3{height: auto;width: 1000px;}
#main .shopListCon{width: 1000px;float: left; margin: -280px 0px;position: relative;}
#main .shopListCon div.first {margin-left: 7px;}

#main .styl_3 .item {width: 240px;height: 240px;margin: 0px 0px 60px 0px;}
.item {display: block;/* position: absolute; */float: left;z-index: 10;}
.item .imgCon .optCon {width: 100%;height: 30px;position: absolute;top: 6px;right: 3px;}
.item .imgCon img {width: 100%;height: 100%;}
#main .styl_3 .item .imgCon .goodsInfo {width: 100%;height:100%;}
.clr{clear: both;}
.item .imgCon .goodsInfo {display:none;position: absolute; width: 316px;height:366px;top: 0px;left: 0px;background: url(http://imgs-qn.iliangcang.com/images/default/shadow_blk1.png);z-index: 100;_display: inline;zoom: 1;}
.item .bar .who{white-space: nowrap;text-overflow: ellipsis;width: 216px;overflow: hidden;}
#main .styl_3 .item .imgCon {height: 316px;}

#main .shopListCon .item .imgCon {width: 100%;height: 100%;position: relative;margin-top: 33px;}
.item .imgCon:hover .goodsInfo{display: block;}

.shopListCon .item .bar a {display: block;float: left;height: 40px;zoom: 1;_display: inline;line-height: 40px;vertical-align: middle;font-size: 14px;}
.shopListCon .item .bar .who img {width: 34px;height: 34px;display: inline-block;vertical-align: middle; margin-right: 10px; background-position: -130px -584px;padding: 0px 6px 6px 0px;}
.shopListCon .item .bar .goodsFavCount {margin-top: -40px; float: right; padding-right: 30px;background: url(../img/heart_gray20_18.png) no-repeat right center;}
.shopListCon .item .bar .goodsFavCount1 {margin-top: 0px; float: right; padding-right: 30px;background: url(../img/icon_car_black.png) no-repeat right center;}
.item .imgCon .goodsInfo .goodsFavCount2 {margin-top: 0px; float: right; padding-right: 30px;background: url(../img/icon_car.png)no-repeat right center;}
.shopListCon .item .bar a {font-size: 13px; display: block;float: left;height: 40px;zoom: 1;_display: inline;line-height: 40px;vertical-align: middle;font-size: 14}
.shopListCon .item .imgCon .goodsInfo .money {color: #0c6eba;font-size: 20px;font-style: italic;margin-top: 14px;}
#main .shopListCon .item .bar {width: 100%;height: 40px;margin-top: -285px;}
.item .imgCon .goodsInfo p {margin: 0px auto;text-align: center;color: #fff;width: 85%; height: 25px;line-height: 20px; vertical-align: middle;overflow: hidden; white-space: nowrap;text-overflow: ellipsis;font-weight: bold;margin-top: 12px;}
.styl_3 .item .imgCon .goodsInfo .tle {margin-top: 80px;}
.item .imgCon .goodsInfo .tle {font-size: 14px;}
.item .imgCon .goodsInfo .desc {font-size: 12px;font-weight: 100;margin-top: 5px;white-space: normal;height: auto;}

