<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/liangcang.css">
    <title><Link rel="shortcut icon" href="../../img/level_tworvice/blizzard.png"><img src="img/favicon.ico"/></title>

  </head>
  <body>
  	<!--头部-->
    <header class="header-top">
        <div class="header">
        	<!--图标-->
          <div class="log">
              <a href="liangcang.html"></a>
          </div>
          <ul class="nav fr" id="nav">
          	<li	class="login-reg-btn">
          		<a class="loginbtn" href="dome/denglu.html" style="color: white;">登录</a>
          		<a class="regbtn" href="dome/zhuce.html" style="color: white;">注册</a>
          	</li>
          	<li class="line"></li>
          	<li class="cart-wrapper"style="width: 36px;height: 55px;"><a href="#" >购物车</a>
          			<div class="cart dropbox">
          					<div class="carts">
          							<p>你的购物车暂无商品....</p>
          					</div>
          					<div class="shop">
          							<a href="#" class="shop">快去抢购粮仓商品吧!</a>
          					</div>
          			</div>
          	</li>
          	<li class="line"></li>
          	<li class="posr"style=" width: 24px;height: 56px;"><a href="#">消息</a>
          		<div class="posrnav dropbox">
          				<a href="#"><span>动态</span></a>
          				<a href="#"><span>评论</span></a>
          				<a href="#"><span>私信</span></a>
          				<a href="#"><span>粉丝</span></a>
          				<a href="#"><span>喜欢</span></a>
          				<a href="#"><span>通知</span></a>
          		</div>
          	</li>
          	<li class="line"></li>
          	<li class="add"><a href="#" class="food">添加良品 </a></li>
          </ul>
        </div>
    </header>
    <span id="backtop"></span>
    <!--切换-->
    <header class="switchover">
    	<ul class="ul1">
					<li class="bom" style="margin-left: -39px;text-align: inherit;"><a href="#">首页</a></li>
					<li><a href="#">商店</a></li>
					<li><a href="#">杂志</a></li>
					<li><a href="#">分享</a></li>
					<li><a href="#">达人</a></li>
					<a href="#"><div class="seek">
					</div>
						<div class="seek-seek bom">
								<input type="text" name="stauts"  class="seek-seek1" placeholder="serick"/>
								<div class="link seek-seek1"></div>
						</div>
					</a>
    </ul>
		<ul class="ul2 fl">
			<li class="onepage" style="display:none;"></li>
			<li class="store"	style="display: none;" ></li>
			<li class="magazine" style="display: none;"></li>
			<li class="share" style="display: none;"></li>
			<li class="expert"></li>
		</ul>
   </header>
			<!--轮播-->
		<div id="bander">
			   		<div id="bander-right"></div>
						<div id="bander-left"></div>
						<ul class="bander-tu left">
							<img src="img/1008.jpg"/>
						</ul>				
			</div>
		<ul class="bander-tu-sub left">
							<li class="sub"></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
			</ul>
			<!--轮播下-->
		<div id="hadv">
				<div class="item1">
					<a href="http://www.iliangcang.com/i/topicapp/201705115213"><img src="http://7qn7hi.com1.z0.glb.clouddn.com/ware/orig/2/27/27178.jpg"/></a>
				</div>
				<div class="item2" style="top: 0;left: 0;">
					<a href="http://www.iliangcang.com/i/topicapp/201705181808"><img src="http://7qn7hi.com1.z0.glb.clouddn.com/ware/orig/2/27/27176.jpg"/></a>
				</div>
				<div class="item2" style="top: 0;right: 0;">
					<a href="http://www.iliangcang.com/i/topicapp/201705185227"><img src="http://7qn7hi.com1.z0.glb.clouddn.com/ware/orig/2/27/27177.jpg"/></a>					
				</div>
				<div class="item2" style="bottom: 0;left: 0;">
					<a href="http://www.iliangcang.com/i/topicapp/201705185537"><img src="http://7qn7hi.com1.z0.glb.clouddn.com/ware/orig/2/27/27175.jpg"/></a>					
				</div>
				<div class="item2" style="bottom: 0;right: 0;">
					<a href="http://www.iliangcang.com/i/topic/201705183611"><img src="http://7qn7hi.com1.z0.glb.clouddn.com/ware/orig/2/27/27174.jpg"/></a>
				</div>
		</div>
		<div class="hGCtle">人气良品</div>
		<div id="main">
				<div class="shopListCon styl_3"></div>
			</div>			
		</div>
		
		<div id="pager">
					<a href="#" class="osm-more"></a>
		</div>
		
		
		<!--轮播图-->
		<script type="text/template"  id="template">
							<li>
							<a href="<%= thumb %>">
							<img src="<%= url %>"/>
							</a></li>
		</script>
		<script type="text/template"  id="template1">
							<div class="storenav">
                <a href="#"><img class="storenav-tu" src="#" alt="">
                		<div class="storenav-wore"><%= cat_name %></div>
                </a>
        			</div>
		</script>
		<script type="text/template" id="shopList">
			<div class="item first">
						<div class="imgCon">
							<div class="opCon"></div>
							<!--图片和链接-->
							<a href="#">
								<img src="<%= goods_thumb %>" title="<%= goods_desc %>"/>
							</a>
							<!--链接放上去弹出价格和介绍-->
							<a href="#" class="goodsInfo">
								<p class="money"><%= price %></p>
								<p class="tle"><%= goods_name %></p>
								<p class="desc"><%= goods_desc %></p>
							</a>
						</div>
						<div class="bar">
							<!--厂商-->
							<a href="#" class="who">
								<!--log-->
								<img src="<%= goods_thumb %>"/>
								<!--名字-->
								<%= goods_name %>
							</a>
							<!--喜欢人数-->
							<a href="#" class="goodsFavCount"><%= sort_order %></a>
						</div>
		</script>
  	</body>
   	<script src="js1/jquery.js" charset="utf-8"></script>
    <script src="http://apps.bdimg.com/libs/underscore.js/1.7.0/underscore-min.js" charset="utf-8"></script>
    <script src="js/liangcang.js" charset="utf-8"></script>
    <script src="js1/fengzhuang_ajax.get.post.js" charset="utf-8"></script>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	 	<script type="text/javascript">
	    		
	    		
	    		
	  </script>
	
		
</html>
