<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/bottom.css"/><link rel="stylesheet" href="../css/seet-seet.css">
    <link rel="stylesheet" type="text/css" href="../css/top.css"/>
    <title><Link rel="shortcut icon" href="../../img/level_tworvice/blizzard.png"><img src="img/favicon.ico"/></title>
  </head>
  	<body onload="chuan()">
  	<!--头部-->
    <header class="header-top">
        <div class="header">
        	<!--图标-->
          <div class="log">
              <a href="../liangcang.html" class="log1"></a>
          </div>
          <ul class="nav fr" id="nav">
          	<li	class="login-reg-btn">
          		<div class="usermage">
          			<a href="#" class="userset"><span>个人设置</span></a>
          			<a href="#" class="usermasage"><span>收到信息</span></a>
          			<a href="#" class="userinent"><span>我的订单</span></a>
          			<a href="#" class="userout"><span>退出</span></a>
          		</div>  
          	</li>
          	<li class="line"></li>
          	<li class="cart-wrapper"style="width: 36px;height: 55px;"><a href="#" >购物车</a>
          			<div class="cart dropbox">
          					<div class="carts">
          							<p>你的购物车暂无商品....</p>
          					</div>
          					<div class="shop">
          							<a href="#" class="shop">快去抢购粮仓商品吧!</a>
          					</div>
          			</div>
          	</li>
          	<li class="line"></li>
          	<li class="posr"style=" width: 24px;height: 56px;"><a href="#">消息</a>
          		<div class="posrnav dropbox">
          				<a href="#"><span>动态</span></a>
          				<a href="#"><span>评论</span></a>
          				<a href="#"><span>私信</span></a>
          				<a href="#"><span>粉丝</span></a>
          				<a href="#"><span>喜欢</span></a>
          				<a href="#"><span>通知</span></a>
          		</div>
          	</li>
          	<li class="line"></li>
          	<li class="add"><a href="#" class="food">添加良品 </a></li>
          </ul>
        </div>
    </header>
    <span id="backtop"></span>
    <!--切换-->
    <header class="switchover">
    	<ul class="ul1">
					<li class="bom" style="margin-left: -39px;text-align: inherit;"><a href="../liangcang.html">首页</a></li>
					<li><a href="more.html">商店</a></li>
					<li><a href="magazine.html">杂志</a></li>
					<li><a href="#">分享</a></li>
					<li><a href="#">达人</a></li>
					<a href="#"><div class="seek">
					</div>
						<div class="seek-seek bom">
								<input type="text" name="stauts"  class="seek-seek1" placeholder="serick"/>
								<div class="link seek-seek1"></div>
						</div>
					</a>
    	</ul>
		<ul class="ul2 fl">
			<li class="onepage" style="display:none;"></li>
			<li class="store"	style="display: none;">
				<div class="shangbiao">
					
				</div>
			</li>
			<li class="magazine" style="display: none;"></li>
			<li class="share" style="display: none;"></li>
			<li class="expert"></li>
		</ul>
  	</header>
	<!--搜索的商品-->
		<div class="clr"></div>
		<div id="main">	
			<div id="seetshop">
				<a href="liangcang.html">良仓</a>
				<span class="seetshop">>搜索结果></span>
			</div>
			<div id="siftCon">
				<div class="secondClass">
					<div class="clslist">
						<a href="#"class="clsName current">良品</a>
						<div class="clsAmount">1234</div>
					</div> 
					<div class="clslist">
						<a href="#"class="clsName">用户</a>
						<div class="clsAmount">87765</div>
					</div>
				</div>
			</div>
			<div class="shopListCon styl_3">
			<div class="clr"></div>
				
			</div>		
			<div class="clr"></div>
		</div>
		<!--尾部顶1-->

		<div class="clr"></div>
		
		<!--尾部顶2-->
		<div id="service" style="margin-top: 275px;">
			<a href="#" class="hand1"><p class="hand"></p></a>
			<div class="slogen">
					<dl class="fore1">
						<dt></dt>
						<dd>
							<p class="chinesetop">全球精品</p>
							<p class="english">Global Selections</p>
						</dd>
					</dl>
					<dl class="fore2">
						<dt></dt>
						<dd>
							<p class="chinesetop">正品保证</p>
							<p class="english">Authenticity Guaranteed</p>
						</dd>
					</dl>
					<dl class="fore3">
						<dt></dt>
						<dd>
							<p class="chinesetop">全场包邮</p>
							<p class="english">Free Delivery</p>
						</dd>
					</dl>
					<dl class="fore4">
						<dt></dt>
						<dd>
							<p class="chinesetop phonehm"></p>
							<p class="english">工作日 09:00-18:00</p>
						</dd>
					</dl>
			</div>
		</div>
		<div class="clr"></div>
		<!--尾部-->
		
		<div id="footer">
			<div class="wrap">
				<div class="footLeft fl">
					<a href="#">
						<div class="download">
							<p class="iphone">
								<span class="numLeFont">iPhone Android</span>
							</p>
							<p class="client-down">客户端下载</p>
							<div class="download-code">
								<dl class="iPhone">
									<dt></dt>
									<dd>下载iPhone版</dd>
								</dl>
								<dl class="android">
									<dt></dt>
									<dd>下载Android版</dd>
								</dl>
							</div>		
						</div>
					</a>
					<div class="friendly">
        	<p class="toplink"> 
        	<a href='#'  target="_blank" class="first">关于良仓</a>
        	<a href='#'  target="_blank" rel="nofollow">服务协议</a>
        	<a href='#'  target="_blank" rel="nofollow">隐私保护政策</a>
        	<a href='#'  target="_blank" rel="nofollow">使用指南</a>
        	<a href='#'  target="_blank" rel="nofollow">联系我们</a>
        	<a href='#'  target="_blank" rel="nofollow">加入我们</a>
        	<a href='#'  target="_blank" rel="nofollow">友情链接</a>
					<a href='#' onclick="showSendMsgWin('良仓',1640);" class='contactUs' class="last">私信良仓</a>
        </p>
				<p><span class="numLeFont">&copy;</span>&nbsp;2013-2015 北京良仓文化传播有限公司版权所有&nbsp;京<span class="numLeFont">ICP</span>备<span class="numLeFont">13010677</span>号<span class="numLeFont">-1</span>&nbsp;京公网安备<span class="numLeFont">11010502025627</span></p>
        <p>&nbsp;&nbsp;公司名称：北京良仓文化传播有限公司&nbsp;&nbsp;电话：010-58263516</p>
        <p>&nbsp;&nbsp;公司地址：北京朝阳区百子湾路32号6号楼1层60号.</p>
        <p>&nbsp;&nbsp;社会信用统一代码：91110105059231575L&nbsp;&nbsp;食品许可证：JY11105160159557&nbsp;&nbsp;</p>
        <p>&nbsp;&nbsp;图书证名称：中华人民共和国出版物经营许可证&nbsp;&nbsp;图书证编号：新出发京零 字第 朝 150051 号&nbsp;&nbsp;</p>
				</div>
				<div class="footRight text-r fr">
					<div class="commun">
						<ul>
						<li><a class="douban" href="#" target="_blank" style="opacity: 0.2;"></a></li>
						<li><a class="sina" href="#" target="_blank" style="opacity: 0.2;"></a></li>
						<li><a class="wechat weixin" href="#" style="opacity: 0.2;">
							<div class="wechat-code"><s></s>
								
							</div>
						</a>
						</li>
						<p class="clr"></p></ul></div>
				</div>
			</div>
		</div>
		<!--轮播图-->
		<script type="text/template"  id="template">
							<li>
							<a href="<%= thumb %>">
							<img src="<%= url %>"/>
							</a></li>
		</script>
		<script type="text/template"  id="template1">
							<div class="storenav">
                <a href="#"><img class="storenav-tu" src="#" alt="">
                		<div class="storenav-wore"><%= cat_name %></div>
                </a>
        			</div>
		</script>
		<script type="text/template" id="shopList">
			<div class="item first">
						<div class="imgCon">
							<div class="opCon"></div>
							<!--图片和链接-->
							<a href="#">
								<img src="<%= goods_thumb %>" title="<%= goods_desc %>"/>
							</a>
							<!--链接放上去弹出价格和介绍-->
							<a href="#" class="goodsInfo">
								<p class="money"><%= price %></p>
								<p class="tle"><%= goods_name %></p>
								<p class="desc"><%= goods_desc %></p>
							</a>
						</div>
						<div class="bar">
							<!--厂商-->
							<a href="#" class="who">
								<!--log-->
								<img src="<%= goods_thumb %>"/>
								<!--名字-->
								<%= goods_name %>
							</a>
							<!--喜欢人数-->
							<a href="#" class="goodsFavCount"><%= sort_order %></a>
						</div>
		</script>
  </body>
		<div class="clr"></div>
		
		<script type="text/template" id="shopList1">
					<div class="item first">
					<div class="imgCon">
						<div class="opCon"></div>
						<!--图片和链接-->
						<a href="#">
							<img src="<%= goods_thumb %>" title="<%= goods_desc %>"/>
						</a>
						<!--链接放上去弹出价格和介绍-->
						<a href="magnifying.html?<%= goods_id %>" class="goodsInfo">
							<p class="goodsFavCount2"></p>	
							<p class="money"><%= price %></p>
							<p class="tle"><%= goods_name %></p>
							<p class="desc"><%= goods_desc %></p>
						</a>
				</div>
					<div class="bar">
						<!--厂商-->
						<a href="#" class="who">
							<!--log-->
							<img src="<%= goods_thumb %>"/>
							<!--名字-->
							<%= goods_name %>
						</a>
						<!--喜欢人数-->
						<a href="#" class="goodsFavCount"><%= sort_order %></a>
						<a href="#" class="goodsFavCount1"></a>
					</div>
				</div>
		</script>
</body>
		<script src="../js1/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="http://apps.bdimg.com/libs/underscore.js/1.7.0/underscore-min.js" charset="utf-8"></script>
    <script src="../js/seet-seet.js" charset="utf-8"></script>
   	<script src="../js1/fengzhuang_ajax.get.post.js" charset="utf-8"></script>
		<script src="../js/denglu.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
				//搜索
			
		</script>
	
		
</html>
